
.icon{
    background-color: #FFC300;
}

.img-empresa img{
    width: 100%;
    height: 100%;
}

.imgs-empresa img{
    width: 30%;
}

.section-news{
    background-color: #FFC300;
}

.conocimiento{
    background-color: #d992d1;
}

.contenido{
    background-color: #d992d1;
    width: 50%;
}

.colorRGB{
    color: rgb(245, 45, 4);
}

.color-formula{
    color: white;
}

.color-titulo{
    color: orange;
}

label {
    font-weight: bold;
}

input {
    width: 50%;
    background-color: #fae280;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input::placeholder {
    color: #666;
}


.pie-pagina{
    background-color: black;
    color: white;
    text-align: center;
}